.navlinks {
  font-size: 18px;
}

.end-display {
  background-color: beige;
}

.site-footer {
  background-color: lightgray;
  padding: 20px 0;
}

.booking-form {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 60px 40px
}

.info-box {
  margin-top: 20px;
  font-size: 0.75rem;
}

.button-box {
  font-size: 0.8rem;
}